name: Release New Version

on:
  push:
    tags:
      - "v*" # Trigger on tags like v1.0.0, v2.1.3, etc.

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "25"

      - name: Install dependencies
        run: npm install

      - name: Release
        uses: softprops/action-gh-release@v2
